.git
.gitignore
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

app_backend/.venv
app_backend/__pycache__
app_backend/.pytest_cache
app_backend/.mypy_cache
app_backend/.ruff_cache
app_backend/.coverage

**/.DS_Store
